.app {
    --background-1: rgb(33, 33, 33);
    --icon-color: cyan;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.icon {
    height: 28px;
    width: 28px;
    color: var(--icon-color);
}

.sidebar {
    flex: 1;
    background: var(--background-1);

    display: flex;
    flex-direction: column;
}

.others,
.search {
    flex-shrink: 0;
    height: 80px;
}

.search {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.search-wrap {
    border-radius: 6px;
    background-color: dimgrey;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-icon {
    color: white;
    width: 24px;
    height: 24px;
}
.search-input {
    flex: 1;

    outline: none;
    border: none;
    color: white;
    background: transparent;
    /* padding: 4px 8px; */
}

.user-list {
    flex: 1;
    overflow: auto;
}

.others {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
}

.left {
    flex: 3;
    /* background: blue; */
}
